<div id="about_course">
    <div class="course_card">
        <div class="image">
            <img id="course_image" src="https://www.graphic.com/assets/images/graphic_appstore_section.png">
        </div>
        <div class="course_content">
            <a class="course_header"><%= @course.name %></a>
            <div class="course_meta">
            <span class="course_date"><%= @course.hours %> hours</span>
            </div>
            <div class="course_description">
                <p>something something about something about this course</p>
            </div>
        </div>
        <div id="course_edit_button">
            <button class="ui red button"><i class="far fa-trash-alt"></i></button>
            <button class="ui twitter button"><i class="fas fa-edit"></i></button>
        </div>
    </div>
</div>